@page
@model HostelManagement.Pages.AdminDashboardModel
@{
    string activeNav = "overview-nav";
}

<div class="main-content">
<<<<<<< Updated upstream
    @if (ViewData["HostelOwnerDashboardMessage"] != null)
    {
        <p>@ViewData["HostelOwnerDashboardMessage"]</p>
    }
    @if (ViewData["hostelCount"] != null)
    {
        <p>hostelCount - @ViewData["hostelCount"]</p>
        <p>roomCount- @ViewData["roomCount"]</p>
        <p>rentingCount- @ViewData["rentingCount"]</p>
        <p>rentedRoomCount- @ViewData["rentedRoomCount"]</p>
        <p>runningRent- @ViewData["runningRent"]</p>
        <p>completedRent- @ViewData["completedRent"]</p>
        <p>pendingStartRent- @ViewData["pendingStartRent"]</p>
        <p>renterCount- @ViewData["renterCount"]</p>
        <p>roomMemberCount- @ViewData["roomMemberCount"]</p>
        <p>revenues of current Year- @ViewData["revenuesYear"]</p>
        <p>revenues of current Month- @ViewData["revenuesMonth"]</p>
    }
</div>
=======
</div>

@section Scripts {
    <script type="text/javascript">
    $('#@activeNav').addClass('active');
    </script>
}
>>>>>>> Stashed changes
