@page
@model HostelOwnerDashboard
@{
    Layout = "_OwnerLayout";
}
<h1>Hello</h1>
@if (ViewData["hostelCount"] != null)
{
    <p>hostelCount - @ViewData["hostelCount"]</p>
    <p>roomCount- @ViewData["roomCount"]</p>
    <p>rentingCount- @ViewData["rentingCount"]</p>
    <p>rentedRoomCount- @ViewData["rentedRoomCount"]</p>
    <p>runningRent- @ViewData["runningRent"]</p>
    <p>completedRent- @ViewData["completedRent"]</p>
    <p>pendingStartRent- @ViewData["pendingStartRent"]</p>
    <p>renterCount- @ViewData["renterCount"]</p>
    <p>roomMemberCount- @ViewData["roomMemberCount"]</p>
}