@page
@using System.Security.Claims
@model HostelManagement.Pages.Bills.DetailsModel

@{
    ViewData["Title"] = "Details";
    var role = User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Role)?.Value;
}

<h1>Details</h1>

<div>
    <h4>Bill</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bill.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bill.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bill.DueDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bill.DueDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Bill.Rent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Bill.Rent.RentedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Bill.BillId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bill.BillDetails.First().BillDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bill.BillDetails.First().Fee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bill.BillDetails.First().DateIssued)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bill.BillDetails.First().Bill)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Bill.BillDetails)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BillDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateIssued)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bill.BillId)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.BillDetailId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.BillDetailId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.BillDetailId">Delete</a>
                </td>
            </tr>
        }
        <hr>
        <tr>
            <td>
                <h3>Total bill</h3>
            </td>
            <td>
                <h3><b>@ViewData["sum"]</b></h3>
            </td>
            <td>
                @if (Model.Bill.DueDate > Model.Bill.CreatedDate)
                {
                    <button class="btn btn-danger">NOT PAID</button>
                    @if (role == "Renter")
                    {
                        <a asp-page-handler="Check" asp-route-id="@Model.Bill.BillId">Already paid?</a>
                    }

                }
                @if (Model.Bill.DueDate < Model.Bill.CreatedDate)
                {
                    <button class="btn btn-danger">CHECKING</button>
                    @if (role == "Owner")
                    {
                        <a asp-page-handler="Confirm" asp-route-id="@Model.Bill.BillId">Comfirm paid</a>
                        <a asp-page-handler="NotConfirm" asp-route-id="@Model.Bill.BillId">Not paid</a>
                    }
                }
                @if (Model.Bill.DueDate == Model.Bill.CreatedDate)
                {
                    <button class="btn btn-danger">PAID</button>
                }
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
    </tbody>
</table>
