@page
@model HostelManagement.Pages.Rooms.CreateModel

@{
    ViewData["Title"] = "Create";
    int roomCount = Model.countRoom;
}

<hr class="my-0"/>
<div class="container main-container" id="main-content">
    <div class="row">
        <div class="col-3 sider sidebar" id="sider-navbar">
            <div class="sidebar__inner">
                <div class="sider-nav">
                    <ul>
                        <li class="sider-nav-item">
                            <a href="~/Hostels/Create#Hostel">
                                <div class="bullet">
                                    <i class='bx bxs-check-circle' style='color:#00b73b'></i>
                                </div>
                                <span class="nav-item-text">
                                    <strong class="">Hostel</strong>
                                </span>
                            </a>
                        </li>
                        <li class="sider-nav-item">
                            <a href="~/Hostels/Create#Location">
                                <div class="bullet">
                                    <i class='bx bxs-check-circle' style='color:#00b73b'></i>
                                </div>
                                <span class="nav-item-text">
                                    <strong class="">Location</strong>
                                </span>
                            </a>
                        </li>
                        <li class="sider-nav-item">
                            <a href="~/Hostels/Create#Images">
                                <div class="bullet">
                                    <i class='bx bxs-check-circle' style='color:#00b73b'></i>
                                </div>
                                <span class="nav-item-text">
                                    <strong class="">Upload Images</strong>
                                </span>
                            </a>
                        </li>
                        <li class="sider-nav-item">
                            <a href="~/Hostels/Create#Room">
                                <div class="bullet">
                                    <div class="circle"></div>
                                </div>
                                <span class="nav-item-text">
                                    <strong class="">Room</strong>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-9 main-content create-content">
            <h1 class="mb-3">Create Room</h1>
            <div>
                <form method="post"  enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    
                    <!--Room-->
                    @for (int i = 0; i < roomCount; i++)
                    {
                        <span class="group-input-title" id="Room">Room @(i+1)</span>
                        <div class="roomform group-input-hostel">
                            <div class="form-group">
                                <label  class="control-label"> Title</label>
                                <input asp-for="@Model.Rooms[i].RoomTitle" class="form-control" required/>
                                <span asp-validation-for="@Model.Rooms[i].RoomTitle" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Description</label>
                                <textarea asp-for="@Model.Rooms[i].RoomDescription" class="form-control" required></textarea>
                                <span asp-validation-for="@Model.Rooms[i].RoomDescription" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Max Capacity</label>
                                <input asp-for="@Model.Rooms[i].RomMaxCapacity" class="form-control" required min="1" max="20"/>
                                <span asp-validation-for="@Model.Rooms[i].RomMaxCapacity" class="text-danger"></span>
                            </div>
                            <div class="form-group d-none">
                                <label asp-for="@Model.Rooms[i].RoomCurrentCapacity" class="control-label"></label>
                                <input asp-for="@Model.Rooms[i].RoomCurrentCapacity" class="form-control" value="0" readonly />
                                <span asp-validation-for="@Model.Rooms[i].RoomCurrentCapacity" class="text-danger"></span>
                            </div>
                            <div class="form-group" hidden="hidden">
                                <label asp-for="@Model.Rooms[i].Status" class="control-label"></label>
                                <input asp-for="@Model.Rooms[i].Status" class="form-control" value="0" />
                                <span asp-validation-for="@Model.Rooms[i].Status" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Price/Month</label>
                                <input asp-for="@Model.Rooms[i].Price" class="form-control" required min="100000"/>
                                <span asp-validation-for="@Model.Rooms[i].Price" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Rooms[i].Deposit" class="control-label"></label>
                                <input asp-for="@Model.Rooms[i].Deposit" class="form-control" required min="0"/>
                                <span asp-validation-for="@Model.Rooms[i].Deposit" class="text-danger"></span>
                            </div>
                            <span class="group-input-title" id="Images">Upload some images of this room</span>
                            <div class="group-input-hostel">
                                <div class="form-group">
                                    <label>Room Images <p class="text-danger">(Required)</p></label>
                                    <input asp-for="@Model.FileUploads[i]" />
                                    <span asp-validation-foraction="@Model.FileUploads"></span>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
