@page
@model HostelManagement.Pages.Rooms.CreateModel

@{
    ViewData["Title"] = "Create";
    int roomCount = Model.countRoom;
}

<h1>Create</h1>

<h4>Room</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <span class="group-input-title" id="Room">Room</span>
            <!--Room-->
            @for (int i = 0; i < roomCount; i++)
            {
                <p>Room @(i+1)</p>
                <div class="roomform group-input-hostel">
                    <div class="form-group">
                        <label asp-for="@Model.Rooms[i].RoomTitle" class="control-label"></label>
                        <input asp-for="@Model.Rooms[i].RoomTitle" class="form-control" />
                        <span asp-validation-for="@Model.Rooms[i].RoomTitle" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Rooms[i].RoomDescription" class="control-label"></label>
                        <input asp-for="@Model.Rooms[i].RoomDescription" class="form-control" />
                        <span asp-validation-for="@Model.Rooms[i].RoomDescription" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Rooms[i].RomMaxCapacity" class="control-label"></label>
                        <input asp-for="@Model.Rooms[i].RomMaxCapacity" class="form-control" />
                        <span asp-validation-for="@Model.Rooms[i].RomMaxCapacity" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Rooms[i].RoomCurrentCapacity" class="control-label"></label>
                        <input asp-for="@Model.Rooms[i].RoomCurrentCapacity" class="form-control" />
                        <span asp-validation-for="@Model.Rooms[i].RoomCurrentCapacity" class="text-danger"></span>
                    </div>
                    <div class="form-group" hidden="hidden">
                        <label asp-for="@Model.Rooms[i].Status" class="control-label"></label>
                        <input asp-for="@Model.Rooms[i].Status" class="form-control" value="0" />
                        <span asp-validation-for="@Model.Rooms[i].Status" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Rooms[i].Deposit" class="control-label"></label>
                        <input asp-for="@Model.Rooms[i].Deposit" class="form-control" />
                        <span asp-validation-for="@Model.Rooms[i].Deposit" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Rooms[i].Price" class="control-label"></label>
                        <input asp-for="@Model.Rooms[i].Price" class="form-control" />
                        <span asp-validation-for="@Model.Rooms[i].Price" class="text-danger"></span>
                    </div>
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
