@page
@model HostelManagement.Pages.Rooms.RoomPicsModel
@{
}
<table class="table">
    <thead>
        <tr>
            <th>
                ROOM PICTURE
            </th>
            <th>
                ACTION
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.RoomPics)
        {
            <tr>
                <td>
                    <img src="~/images/rooms/@(item.RoomPicUrl)" width="200" />
                </td>
                <td>
                    <a asp-page="RoomPics" asp-page-handler="delete" asp-route-id="@item.RoomPicsId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<form method="post" enctype="multipart/form-data">
    <span class="group-input-title" id="Images">Upload some images of your hostel</span>
    <div class="group-input-hostel">
        <div class="form-group">
            <label asp-for="@Model.FileUploads"></label>
            <input asp-for="@Model.FileUploads" />
            <span asp-validation-foraction="@Model.FileUploads"></span>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Upload More" class="btn btn-primary" />
    </div>
</form>

<a asp-page="./Details" asp-route-id="@Model.RoomID">Return room detail page</a>