@page
@model HostelManagement.Pages.HostelPics.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HostelPic[0].HostelPicUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HostelPic[0].Hostel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.HostelPic) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HostelPicUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hostel.HostelOwnerEmail)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.HostelPicsId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.HostelPicsId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.HostelPicsId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
