@page
@model HostelManagement.Pages.BillDetails.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BillDetail[0].BillDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillDetail[0].Fee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillDetail[0].DateIssued)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BillDetail[0].Bill)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BillDetail) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BillDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateIssued)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bill.BillId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BillDetailId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BillDetailId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BillDetailId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
