@page
@model HostelManagement.Pages.Accounts.CreateModel

@{
    var activeNav = "accounts-nav";
    ViewData["Title"] = "Create";
    var hidden = false;
    if (Model.MessageExistEmail == null) hidden = true;
    var dob = false;
    if (Model.MessageDob == null) dob = true;
}

<h1 class="text-center" style="margin-bottom:50px; margin-top: 50px">Create Account</h1>

<div class="container border h-100 d-flex align-items-center justify-content-center" style="padding: 20px; width: 500px">
    <form method="post" enctype="multipart/form-data" style="width: 400px">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-sm-3">
                <label asp-for="Account.UserEmail" class="control-label"></label>
            </div>
            <div class="col-sm-9">
                <input asp-for="Account.UserEmail" class="form-control" />
            </div>
            <div class="col-sm-9" hidden="@hidden">
                <span class="text-danger">@Model.MessageExistEmail</span>
            </div>
            <div class="col-sm-9">
                <span asp-validation-for="Account.UserEmail" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3">
                <label asp-for="Account.UserPassword" class="control-label"></label>
            </div>
            <div class="col-sm-9">
                <input asp-for="Account.UserPassword" class="form-control" />
            </div>
            <div class="col-sm-9">
                <span asp-validation-for="Account.UserPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3">
                <label asp-for="Account.FullName" class="control-label"></label>
            </div>
            <div class="col-sm-9">
                <input asp-for="Account.FullName" class="form-control" />
            </div>
            <div class="col-sm-9">
                <span asp-validation-for="Account.FullName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3">
                <label asp-for="Account.PhoneNumber" class="control-label"></label>
            </div>
            <div class="col-sm-9">
                <input asp-for="Account.PhoneNumber" class="form-control" />
            </div>
            <div class="col-sm-9">
                <span asp-validation-for="Account.PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3">
                <label asp-for="Account.Dob" class="control-label"></label>
            </div>
            <div class="col-sm-9">
                <input asp-for="Account.Dob" class="form-control" type="date" />
            </div>
            <div class="col-sm-9" hidden="@dob">
                <span class="text-danger">@Model.MessageDob</span>
            </div>
            <div class="col-sm-9">
                <span asp-validation-for="Account.Dob" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="@Model.FileUploads">Avatar</label>
            <input id="fileImage" asp-for="@Model.FileUploads" style="margin-left: 55px" />
            <span asp-validation-foraction="@Model.FileUploads"></span>
            <div class="col-sm-3"></div>
            <img id="preview" src="~/images/accounts/ano-ava.jpg" height="200" class="hidden" style="margin-left: 108px" />
            <script>

                fileImage.onchange = evt => {
                    const [file] = fileImage.files
                    if (file) {
                        preview.src = URL.createObjectURL(file);
                        $("#preview").removeClass("hidden");
                    }
                }

            </script>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary col-3 text-center" style="margin-left: 150px; margin-top: 50px" />
        </div>
    </form>
</div>


<div class="text-center">
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $('#@activeNav').addClass('active');
    </script>
}