@page
@using System.Security.Claims
@model HostelManagement.Pages.Accounts.DetailsModel

@{
    var activeNav = "accounts-nav";
    ViewData["Title"] = "Details";
    string profilePic = "ano-ava.jpg";
    if (Model.Account.ProfilePicUrl != null)
        profilePic = Model.Account.ProfilePicUrl;
    string frontPic = "ano-ava.jpg";
    if (Model.Account.IdCardNumberNavigation != null)
        if (Model.Account.IdCardNumberNavigation.FrontIdPicUrl != null)
            frontPic = Model.Account.IdCardNumberNavigation.FrontIdPicUrl;
    string backPic = "ano-ava.jpg";
    if (Model.Account.IdCardNumberNavigation != null)
        if (Model.Account.IdCardNumberNavigation.BackIdPicUrl != null)
            backPic = Model.Account.IdCardNumberNavigation.BackIdPicUrl;
}

<h1 class="text-center" style="margin-bottom:50px; margin-top: 50px">Details of @Model.Account.FullName</h1>

<div class="container border h-100 d-flex align-items-center justify-content-center" style="padding: 20px; width: 500px">

    <hr />
    <dl class="form-group row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Account.UserEmail)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Account.UserEmail)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Account.RoleName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Account.RoleName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Account.Status)
        </dt>
        <dd class="col-sm-8">
            @{
                string status;
                if (Model.Account.Status == 1) status = "Active";
                else status = "Inactive";
            }
            <div> @status </div>
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Account.FullName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Account.FullName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Account.PhoneNumber)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Account.PhoneNumber)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Account.Dob)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Account.Dob)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Account.ProfilePicUrl)
        </dt>
        <dd class="col-sm-8">
            <img src="~/Images/accounts/@profilePic" height="200" />
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Account.IdCardNumberNavigation.IdCardNumber)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Account.IdCardNumberNavigation.IdCardNumber)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Account.IdCardNumberNavigation.FrontIdPicUrl)
        </dt>
        <dd class="col-sm-8">
            <img id="profilePic" src="~/Images/accounts/@frontPic" height="200" />
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Account.IdCardNumberNavigation.BackIdPicUrl)
        </dt>
        <dd class="col-sm-8">
            <img id="profilePic" src="~/Images/accounts/@backPic" height="200" />
        </dd>
    </dl>
</div>
<div class="text-center">
    <a asp-page="./Edit" asp-route-id="@Model.Account.UserId">Edit</a> |
    @if (User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Role)?.Value == "Admin")
    {
        <a asp-page="./Index">Back to List</a>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $('#@activeNav').addClass('active');
    </script>
}