@page
@model HostelManagement.Pages.Accounts.RegisterModel
@{
    var hidden = false;
    if (Model.MessageExistEmail == null) hidden = true;
    var hiddenId = false;
    if (Model.MessageExistId == null) hiddenId = true;
    var dob = false;
    if (Model.MessageDob == null) dob = true;
}
<h1 class="text-center" style="margin-bottom:50px; margin-top: 50px">REGISTER</h1>
<div class="container border h-100 d-flex align-items-center justify-content-center" style="padding: 20px; width: 500px">
    <form method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-sm-3">
                <label asp-for="Input.UserEmail" class="control-label"></label>
            </div>
            <div class="col-sm-9">
                <input asp-for="Input.UserEmail" class="form-control" required />
            </div>
            <div class="col-sm-9" hidden="@hidden">
                <span class="text-danger">@Model.MessageExistEmail</span>
            </div>
            <span asp-validation-for="Input.UserEmail" class="text-danger col-sm-9"></span>
        </div>
        <div class="form-group row">
            <div class="col-sm-3">
                <label asp-for="Input.UserPassword" class="control-label"></label>
            </div>
            <div class="col-sm-9">
                <input asp-for="Input.UserPassword" class="form-control" required />
            </div>
            <span asp-validation-for="Input.UserPassword" class="text-danger col-sm-9"></span>
        </div>
        <div class="form-group row">
            <div class="col-sm-3">
                <label asp-for="Input.ConfirmPassword" class="control-label"></label>
            </div>
            <div class="col-sm-9">
                <input asp-for="Input.ConfirmPassword" class="form-control" />
            </div>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger col-sm-9"></span>
        </div>
        <div class="form-group row">
            <div class="col-sm-3">
                <label asp-for="Input.FullName" class="control-label"></label>
            </div>
            <div class="col-sm-9">
                <input asp-for="Input.FullName" class="form-control" required />
            </div>
            <span asp-validation-for="Input.FullName" class="text-danger col-sm-9"></span>
        </div>
        <div class="form-group row">
            <div class="col-sm-3">
                <label asp-for="Input.PhoneNumber" class="control-label"></label>
            </div>
            <div class="col-sm-9">
                <input asp-for="Input.PhoneNumber" class="form-control" />
            </div>
            <span asp-validation-for="Input.PhoneNumber" class="text-danger col-sm-9"></span>
        </div>
        <div class="form-group row">
            <div class="col-sm-3">
                <label asp-for="Input.Dob" class="control-label"></label>
            </div>
            <div class="col-sm-9">
                <input asp-for="Input.Dob" class="form-control" type="date" 
                       min="@DateTime.Now.AddYears(-100).ToString("yyyy-MM-dd")" max="@DateTime.Now.AddYears(-16).ToString("yyyy-MM-dd")" required  />
            </div>
            <div class="col-sm-9" hidden="@dob">
                <span class="text-danger">@Model.MessageDob</span>
            </div>
            <span asp-validation-for="Input.Dob" class="text-danger col-sm-9"></span>
        </div>
        <hr />
        <div class="form-group row">
            <div class="col-sm-3">
                <label asp-for="Input.IdCardNumber" class="control-label"></label>
            </div>
            <div class="col-sm-9">
                <input asp-for="Input.IdCardNumber" class="form-control" required maxlength="15" />
            </div>
            <div class="col-sm-9" hidden="@hiddenId">
                <span class="text-danger">@Model.MessageExistId</span>
            </div>
            <span asp-validation-for="Input.IdCardNumber" class="text-danger col-sm-9"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Front picture</label>
            <input id="frontImage" asp-for="@Model.FrontPicUrl" type="file" style="margin-left: 40px" required />
            <span asp-validation-for="@Model.FrontPicUrl" class="text-danger"></span>
            <img id="previewF" src="~/images/accounts/ano-ava.jpg" height="200" class="hidden" style="margin-left: 120px" />
            <script>

                frontImage.onchange = evt => {
                    const [file] = frontImage.files
                    if (file) {
                        previewF.src = URL.createObjectURL(file);
                        $("#previewF").removeClass("hidden");
                    }
                }

            </script>
        </div>
        <div class="form-group">
            <label class="control-label">Back Picture</label>
            <input id="backImage" asp-for="@Model.BackPicUrl" type="file" style="margin-left: 40px" required />
            <span asp-validation-for="@Model.BackPicUrl" class="text-danger"></span>
            <img id="previewB" src="~/images/accounts/ano-ava.jpg" height="200" class="hidden" style="margin-left: 120px" />
            <script>

                backImage.onchange = evt => {
                    const [file] = backImage.files
                    if (file) {
                        previewB.src = URL.createObjectURL(file);
                        $("#previewB").removeClass("hidden");
                    }
                }

            </script>
        </div>
        <div class="form-group row">
            <input type="submit" value="Register" class="btn btn-primary col-2 text-center" style="margin-left: 200px; margin-top: 50px" />
        </div>
    </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
