@page
@model HostelManagement.Pages.Accounts.RegisterModel
@{var hidden = false;
    if (Model.MessageExistEmail == null) hidden = true;
}
<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Input.UserEmail" class="control-label"></label>
        <input asp-for="Input.UserEmail" class="form-control" />
        <div hidden="@hidden">
            <span class="text-danger">@Model.MessageExistEmail</span>
        </div>
        <span asp-validation-for="Input.UserEmail" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.UserPassword" class="control-label"></label>
        <input asp-for="Input.UserPassword" class="form-control" />
        <span asp-validation-for="Input.UserPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Input.ConfirmPassword" class="control-label"></label>
        <input asp-for="Input.ConfirmPassword" class="form-control" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.FullName" class="control-label"></label>
        <input asp-for="Input.FullName" class="form-control" />
        <span asp-validation-for="Input.FullName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.PhoneNumber" class="control-label"></label>
        <input asp-for="Input.PhoneNumber" class="form-control" />
        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.Dob" class="control-label"></label>
        <input asp-for="Input.Dob" class="form-control" type="date" />
        <span asp-validation-for="Input.Dob" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Input.IdCardNumber" class="control-label"></label>
        <input asp-for="Input.IdCardNumber" class="form-control" required maxlength="15"/>
        <span asp-validation-for="Input.IdCardNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.FrontPicUrl" class="control-label"></label>
        <input id="frontImage" asp-for="@Model.FrontPicUrl" type="file" />
        <span asp-validation-for="@Model.FrontPicUrl" class="text-danger"></span>
        <img id="previewF" src="~/images/accounts/ano-ava.jpg" height="200" class="hidden" />
        <script>

            frontImage.onchange = evt => {
                const [file] = frontImage.files
                if (file) {
                    previewF.src = URL.createObjectURL(file);
                    $("#previewF").removeClass("hidden");
                }
            }

        </script>
    </div>
    <div class="form-group">
        <label asp-for="@Model.BackPicUrl" class="control-label"></label>
        <input id="backImage" asp-for="@Model.BackPicUrl" type="file" />
        <span asp-validation-for="@Model.BackPicUrl" class="text-danger"></span>
        <img id="previewB" src="~/images/accounts/ano-ava.jpg" height="200" class="hidden" />
        <script>

            backImage.onchange = evt => {
                const [file] = backImage.files
                if (file) {
                    previewB.src = URL.createObjectURL(file);
                    $("#previewB").removeClass("hidden");
                }
            }

        </script>
    </div>
    <div class="form-group">
        <input type="submit" value="Register" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}