@page
@model HostelManagement.Pages.Rents.CreateModel

@{
    string activeNav = "contracts-nav";
    var hidden = false;
    if (Model.message == null) hidden = true;
    bool extend = false;
    if (ViewData["extend"] != null)
            {
                extend = (bool)ViewData["extend"];
            }
}

<div class="container main-container mt-5">
    <div class="row">
        <div class="col-md-8 p-0">
            <div>
                <div class="rent-form-wrapper">
                    <h4 class="mb-3"><i class='bx bx-receipt' ></i>Renting Details</h4>
                    <form method="post" name="rent-form" id="rent-form">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div hidden="@hidden">
                            <span class="text-danger">@Model.message</span>
                        </div>
                        <div class="form-group" hidden="hidden">
                            <label asp-for="Rent.RoomId" class="control-label"></label>
                            <input asp-for="Rent.RoomId" class="form-control" value="@ViewBag.RoomId" readonly />
                        </div>
                        <div class="form-group">
                            <label asp-for="Rent.RentedBy" class="control-label"></label>
                            <input asp-for="Rent.RentedBy" class="form-control" value="@ViewBag.RentedBy" readonly />
                        </div>
                        @if (extend)
                        {
                            <div class="form-group" hidden="hidden">
                                <label asp-for="Rent.IsDeposited" class="control-label"></label>
                                <input asp-for="Rent.IsDeposited" class="form-control" value="2" readonly />
                                <span asp-validation-for="Rent.IsDeposited" class="text-danger"></span>
                            </div>
                            <div class="form-group" hidden="hidden">
                                <label asp-for="Rent.Status" class="control-label"></label>
                                <input asp-for="Rent.Status" class="form-control" value="1" readonly />
                                <span asp-validation-for="Rent.Status" class="text-danger"></span>
                            </div>
                            <div class="grouped-form">
                                <div class="form-group">
                                    <label asp-for="Rent.StartRentDate" class="control-label"></label>
                                    <p class="form-control">@Model.StartRentDate.ToString("dd-MM-yyyy")</p>
                                </div>
                                <div class="form-group">
                                    <label asp-for="MonthRent" class="control-label">How many months?</label>
                                    <input asp-for="MonthRent" class="form-control" />
                                    <span asp-validation-for="MonthRent" class="text-danger"></span>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="form-group" hidden="hidden">
                                <label asp-for="Rent.IsDeposited" class="control-label"></label>
                                <input asp-for="Rent.IsDeposited" class="form-control" value="0" readonly />
                                <span asp-validation-for="Rent.IsDeposited" class="text-danger"></span>
                            </div>
                            <div class="form-group" hidden="hidden">
                                <label asp-for="Rent.Status" class="control-label"></label>
                                <input asp-for="Rent.Status" class="form-control" value="0" readonly />
                                <span asp-validation-for="Rent.Status" class="text-danger"></span>
                            </div>
                            <div class="grouped-form">
                                <div class="form-group">
                                    <label asp-for="Rent.StartRentDate" class="control-label"></label>
                                    <input asp-for="Rent.StartRentDate" class="form-control" type="date" value="@DateTime.Now.Date"
                                           min="@DateTime.Now.ToString("yyyy-MM-dd")" max="@DateTime.Now.AddDays(10).ToString("yyyy-MM-dd")" required />
                                    <span asp-validation-for="Rent.StartRentDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="MonthRent" class="control-label">How many months?</label>
                                    <input asp-for="MonthRent" class="form-control" required min="1" max="24" />
                                    <span asp-validation-for="MonthRent" class="text-danger"></span>
                                </div>
                        </div>
                        }


                        <div class="form-group" hidden="hidden">
                            <label asp-for="Rent.Total" class="control-label"></label>
                            <input asp-for="Rent.Total" class="form-control" value="@Model.room.Price" readonly />
                            <span asp-validation-for="Rent.Total" class="text-danger"></span>
                        </div>
                    </form>
                </div>

                <div class="rent-form-wrapper mt-2">
                    <h4 class="mb-3"><i class='bx bx-group'></i>Room Members</h4>
                
                    <div class="grouped-form flex-wrap">
                    @for (int i = 0; i < Model.room.RomMaxCapacity; i++)
                    {
                        <div class="form-group">
                            <label class="control-label">Member @(i+1) Email</label>
                            <input asp-for="RoomMember[i].UserEmail" class="form-control" form="rent-form" id="member-@(i+1)"/>
                            <span asp-validation-for="RoomMember[i].UserEmail" class="text-danger"></span>
                        </div>
                    }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 px-0">
            <div class="summary-block hostel-summary">
                <div class="hostel-summary-wrapper summary-wrapper">
                    <div class="summary-content">
                        <div class="summary-thumb">
                            @{
                                string hostelThumb ="placeholder.png";
                                if (Model.hostel.HostelPics.Count>0){
                                    hostelThumb = "hostels/"+ Model.hostel.HostelPics.ElementAt(0).HostelPicUrl;
                                }
                            }
                            <div class="summary-thumb-img" style="background-image: url(/images/@hostelThumb);"></div>
                        </div>
                        <div class="summary-info">
                            <div class="summary-hostel-info">
                                <p>@Model.hostel.HostelName</p>
                                <div class="hostel-info-cate">@Model.hostel.Category.CategoryName</div>
                                <p class="location">@Model.hostel.Location.AddressString, @Model.hostel.Location.Ward.WardName, @Model.hostel.Location.Ward.District.DistrictName, @Model.hostel.Location.Ward.District.Province.ProvinceName</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="summary-block room-summary">
                <br>
                <div class="room-summary-title">
                    @Model.room.RoomTitle
                </div>
                <hr>
                <div class="summary-content">
                    <div class="summary-thumb">
                        @{
                            string roomThumb ="placeholder.png";
                            if (Model.room.RoomPics.Count>0){
                                roomThumb = "rooms/"+ Model.room.RoomPics.ElementAt(0).RoomPicUrl;
                            }
                        }
                        <div class="summary-thumb-img" style="background-image: url(/images/@roomThumb);"></div>
                    </div>
                    <div class="summary-info">
                        <div class="summary-room-numpeople">
                            <p><i class='bx bx-group'></i> @Model.room.RomMaxCapacity <text>adult(s)</text></p>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="room-summary-price text-right">
                    <span class="currency">₫</span>@Model.room.Price<span class="countUnit">/month</span>
                </div>
            </div>


            <div class="summary-block booking-summary">
                <p>By proceeding with this booking, I agree to Rentel’s Terms of Use and Privacy Policy.</p>
            
                <div class="booking-summary-action text-right mt-2">
                    <button class="btn btn-primary btn-rent" type="submit" form="rent-form" onclick="SubmitMyForm()">Submit</button>
                </div>
            </div>
        </div>
    </div>  
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $('#@activeNav').addClass('active');
        $(window).on('load',function(){
            $('.page-main').parent().closest('body').addClass('rent-main');
            $('#member-1').val('@ViewBag.RentedBy');
            $('#member-1').attr('readonly',true);
        })
        function SubmitMyForm() {
            document.getElementById("rent-form").submit();
        }
    </script>
}
