@page
@model HostelManagement.Pages.Rents.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to cancel Rent?</h3>
<div>
    <h4>Rent</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rent.IsDeposited)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rent.IsDeposited)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rent.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rent.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rent.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rent.Total)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rent.RentedByNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rent.RentedByNavigation.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rent.Room)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rent.Room.RoomId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Rent.RentId" />
        <input type="hidden" asp-for="Rent.RoomId" />
        <input type="hidden" asp-for="Rent.StartRentDate" />
        <input type="hidden" asp-for="Rent.EndRentDate" />
        <input type="submit" value="CANCEL" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
