@page
@using System.Security.Claims
@model HostelManagement.Pages.Rents.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rent</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rent.IsDeposited)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rent.IsDeposited)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rent.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rent.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rent.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rent.Total)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rent.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rent.Total)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rent.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rent.Total)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rent.RentedByNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rent.RentedByNavigation.UserEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rent.Room)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rent.Room.RoomId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rent.RoomMembers)
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in @Model.Rent.RoomMembers)
            {
                <p>@item.UserEmail</p>
            }
        </dd>
    </dl>
</div>
@if (Model.Rent.Bills.Count() != 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Rent.Bills.First().CreatedDate)
                </th>
                <th>
                    Total
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Rent.Bills)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @item.BillDetails.Sum(b => b.Fee)
                    </td>
                    <td>
                        <a asp-page="../Bills/Details" asp-route-id="@item.BillId">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-page="./Index">Back to List</a>
</div>
@{
    if (User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Role)?.Value == "Owner")
    {
        var lastBill = Model.Rent.StartRentDate;
        if (Model.Rent.Bills.Count() != 0)
        {
            lastBill = (DateTime)Model.Rent.Bills.Max(b => b.CreatedDate);
        }
        if (lastBill < DateTime.Now.AddDays(-15))
        {
            <a asp-page="../Bills/Create" asp-route-id="@Model.Rent.RentId">Generate bill</a>
        }
    }

}