@page
@model HostelManagement.Pages.Rents.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rent</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rent.IsDeposited)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rent.IsDeposited)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rent.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rent.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rent.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rent.Total)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rent.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rent.Total)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rent.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rent.Total)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rent.RentedByNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rent.RentedByNavigation.UserEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rent.Room)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rent.Room.RoomId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rent.RoomMembers)
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in @Model.Rent.RoomMembers)
            {
                <p>@item.UserEmail</p>
            }
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-page="./Index">Back to List</a>
</div>
