
@page
@using System.Security.Claims

@model HostelManagement.Pages.Rents.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rents.First().IsDeposited)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rents.First().Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rents.First().Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rents.First().RentedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rents.First().Room)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Rents)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IsDeposited)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RentedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.RoomId)
                </td>
                <td>
                    <a asp-page="Details" asp-route-id="@item.RentId">Details</a>
                    @if (item.StartRentDate.Day < DateTime.Now.Day && User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Role)?.Value == "Owner")
                    {
                        <a asp-page="../Bills/Create" asp-route-id="@item.RentId">Generate bill</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
