@page
@using System.Security.Claims

@model HostelManagement.Pages.Hostels.ChangeStatusModel

@{
    ViewData["Title"] = "Change Status";
    var userRole = User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Role)?.Value;
}

<h1>Delete</h1>

<h3>Are you sure you want to Change Status this?</h3>
<div>
    <h4>Hostel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hostel.HostelName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hostel.HostelName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hostel.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hostel.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hostel.Status)
        </dt>
        <dd class="col-sm-10">
            @{
                var str = "Pending";
                if (Model.Hostel.Status == 0) str = "Pending";
                if (Model.Hostel.Status == 1) str = "Active";
                if (Model.Hostel.Status == 2) str = "InActive";
                if (Model.Hostel.Status == 3) str = "Denied";
                if (Model.Hostel.Status == 4) str = "Occupied";
            }
            <span>
                @str
            </span>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hostel.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hostel.Category.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hostel.HostelOwnerEmailNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hostel.HostelOwnerEmailNavigation.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hostel.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hostel.Location.AddressString)
        </dd>
    </dl>

    @if (Model.Hostel.Status != 0 && userRole == "Owner")
    {
        <form method="post" asp-page-handler="Pending" asp-route-id="@Model.Hostel.HostelId">
            <input type="hidden" asp-for="Hostel.HostelId" />
            <input type="submit" value="Pending" class="btn btn-danger" />
        </form>
    }
    @if (Model.Hostel.Status == 0 && userRole == "Admin")
    {
        <form method="post" asp-page-handler="Active" asp-route-id="@Model.Hostel.HostelId">
            <input type="hidden" asp-for="Hostel.HostelId" />
            <input type="submit" value="Active" class="btn btn-danger" />
        </form>
    }
    @if (Model.Hostel.Status != 2 && userRole == "Owner")
    {
        <form method="post" asp-page-handler="Inactive" asp-route-id="@Model.Hostel.HostelId">
            <input type="hidden" asp-for="Hostel.HostelId" />
            <input type="submit" value="Inactive" class="btn btn-danger" />
        </form>
    }
    @if ((Model.Hostel.Status == 0 || Model.Hostel.Status == 2) && userRole == "Admin")
    {
        <form method="post" asp-page-handler="Denied" asp-route-id="@Model.Hostel.HostelId">
            <input type="hidden" asp-for="Hostel.HostelId" />
            <input type="submit" value="Denied" class="btn btn-danger" />
        </form>
    }
</div>
