@page
@model HostelManagement.Pages.Hostels.CreateModel

@{
    ViewData["Title"] = "Create";
    var activeNav = "listings-nav";
}

<hr class="my-0"/>
<div class="container main-container" id="main-content">
    <div class="row">
        <div class="col-3 sider sidebar" id="sider-navbar">
            <div class="sidebar__inner">
                <div class="sider-nav">
                    <ul>
                        <li class="sider-nav-item">
                            <a href="#Hostel">
                                <div class="bullet">
                                    <div class="circle"></div>
                                </div>
                                <span class="nav-item-text">
                                    <strong class="">Hostel</strong>
                                </span>
                            </a>
                        </li>
                        <li class="sider-nav-item">
                            <a href="#Location">
                                <div class="bullet">
                                    <div class="circle"></div>
                                </div>
                                <span class="nav-item-text">
                                    <strong class="">Location</strong>
                                </span>
                            </a>
                        </li>
                        <li class="sider-nav-item">
                            <a href="#Images">
                                <div class="bullet">
                                    <div class="circle"></div>
                                </div>
                                <span class="nav-item-text">
                                    <strong class="">Upload Images</strong>
                                </span>
                            </a>
                        </li>
                        <li class="sider-nav-item">
                            <a href="#Room">
                                <div class="bullet">
                                    <div class="circle"></div>
                                </div>
                                <span class="nav-item-text">
                                    <strong class="">Room</strong>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-9 main-content create-content">
            <h1 class="mb-3">Create hostel</h1>
            <form method="post" enctype="multipart/form-data">
                <span class="group-input-title" id="Hostel">Hostel</span>
                <div class="group-input-hostel">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Hostel.HostelName" class="control-label"></label>
                        <input asp-for="Hostel.HostelName" class="form-control" required />
                        <span asp-validation-for="Hostel.HostelName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Hostel.Description" class="control-label"></label>
                        <textarea asp-for="Hostel.Description" class="form-control" required  style="height:200px"></textarea>
                        <span asp-validation-for="Hostel.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group" hidden="hidden">
                        <label asp-for="Hostel.Status" class="control-label"></label>
                        <input asp-for="Hostel.Status" class="form-control" value="0" readonly />
                        <span asp-validation-for="Hostel.Status" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Hostel.CategoryId" class="control-label"></label>
                        <select asp-for="Hostel.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                    </div>
                </div>
                <span class="group-input-title" id="Location">Location</span>
                <div class="group-input-hostel">

                    <div class="form-group">
                        <label class="control-label">Province</label>
                        <select id="ProvinceList" asp-items="@ViewBag.ProvinceId" class="form-control" required>
                            <option>Select Province</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">District</label>
                        <select id="DistrictList" class="form-control" required>
                            <option>Select District</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Ward</label>
                        <select id="WardList" class="form-control" asp-for="Location.WardId" required>
                            <option>Select Ward</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Location.AddressString" class="control-label"></label>
                        <input asp-for="Location.AddressString" class="form-control" required />
                        <span asp-validation-for="Location.AddressString" class="text-danger"></span>
                    </div>
                </div>
                <span class="group-input-title" id="Images">Upload some images of your hostel</span>
                <div class="group-input-hostel">
                    <div class="form-group">
                        <label>Choose Hostel images(s) <p class="text-danger">(Required)</p></label>
                        <input asp-for="@Model.FileUploads" required/>
                        <span asp-validation-foraction="@Model.FileUploads"></span>
                    </div>
                </div>
                <div class="group-input-hostel">
                    <div class="form-group">
                        <label asp-for="@Model.countRoom"></label>
                        <input asp-for="@Model.countRoom" min="1" max="100" required/>
                        <span asp-validation-foraction="@Model.countRoom"></span>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Next" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript" src="~/js/sticky-sidebar.js"></script>
<script>
    @*document.getElementById('DistrictList').addEventListener('change', (e) => {
        $("#WardList").empty();
        document.getElementById('WardList').innerHTML = "<option value=''>Select Ward</option>";
        fetch(`?handler=LoadWard&DistrictId=${e.target.value}`)
            .then((response) => {
                return response.json();
            })
            .then((data) => {
                Array.prototype.forEach.call(data, function (item, i) {
                    $("#WardList").append(`<option value="${item.wardId}">${item.wardName}</option>`);
                });
            });
    });*@

    $('#@activeNav').addClass('active');

    @* var count = $('.roomform').last().find('.room-no').data('value');

    function numberingRoom(){
        var roomlist = $('.roomform');
        for (var i = 0; i < roomlist.length; i++){
            roomlist[i].querySelector('.room-no').innerHTML = "Room " + (i+1);
        }
    };  

    $(window).on('load',function(){

        $(document).on('click','.addroom',function(){
            var html = $('.roomform').first().clone();
            $(html).find('.removeroom').show();
            $('.roomform').last().after(html);
            numberingRoom();
        });
 
        $(document).on('click','.removeroom',function(){
            $(this).parents('.roomform').remove();
            numberingRoom();
        });
    }); *@

    var sidebar = new StickySidebar('#sider-navbar', {
        containerSelector: '#main-content',
        innerWrapperSelector: '.sidebar__inner',
        topSpacing: 20,
        bottomSpacing: 20,
        leftSpacing: 20
    });
</script>
}
