@page
@model HostelManagement.Pages.Hostels.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hostel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hostel.HostelName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hostel.HostelName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hostel.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hostel.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hostel.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hostel.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hostel.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hostel.Category.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hostel.HostelOwnerEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hostel.HostelOwnerEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hostel.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Hostel.Location.AddressString) - @Html.DisplayFor(model => model.Hostel.Location.Ward.WardName) -
            @Html.DisplayFor(model => model.Hostel.Location.Ward.District.DistrictName) - @Html.DisplayFor(model => model.Hostel.Location.Ward.District.Province.ProvinceName)
            
            @if (Model.UserRole == "Owner")
            {
                <a asp-page="../Locations/Edit" asp-route-id="@Model.Hostel.LocationId">Edit</a>
            }


        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Hostel.HostelPics)
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in Model.Hostel.HostelPics)
            {
                <img src="~/images/hostels/@(item.HostelPicUrl)" width="200" />
            }
            @if (Model.UserRole == "Owner")
            {<p>|</p> <a asp-page="./HostelPics" asp-route-id="@Model.Hostel.HostelId"> Edit </a>}

        </dd>
    </dl>
</div>
<div>
    @if (Model.UserRole == "Owner")
    {
        <a asp-page="./Edit" asp-route-id="@Model.Hostel.HostelId">Edit</a>
        <p>|</p>
        <a asp-page="./Index"> Back to List </a>
    }

</div>
@if(Model.Hostel.Status == 0)
{
<div class="card-action">
    <div class="btn-card-action btn-card-activate" id="@Model.Hostel.HostelId">
        <a asp-page-handler="Yes" asp-route-id="@Model.Hostel.HostelId">
            <i class='bx bx-check'></i>
        </a>
    </div>
    <div class="btn-card-action btn-card-denied btn-card-deactivate" id="@Model.Hostel.HostelId">
        <a asp-page-handler="No" asp-route-id="@Model.Hostel.HostelId">
            <i class='bx bx-x'></i>
        </a>
    </div>
    @{
        var name = Model.Hostel.HostelName;
    }
    <script type="text/javascript">
                            $('.btn-card-deactivate#@Model.Hostel.HostelId').click(function(){
                                $('.deactivate-form').append("<input type='hidden' name='id' value='@Model.Hostel.HostelId'/>");
                                $('.popup-deactivate p').html('Do you really want to deactivate <strong>@name</strong>?');
                                $('.popup-deactivate').show();
                            })
    </script>
</div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hostel.Rooms.First().RoomTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hostel.Rooms.First().RoomDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hostel.Rooms.First().RomMaxCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hostel.Rooms.First().RoomCurrentCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hostel.Rooms.First().Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hostel.Rooms.First().Deposit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hostel.Rooms.First().Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Hostel.Rooms)
        {
            @if (Model.UserRole == "Renter" || String.IsNullOrEmpty(Model.UserRole))
            {
                @if (item.Status == 1)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoomTitle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoomDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RomMaxCapacity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RoomCurrentCapacity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Deposit)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            <a asp-page="../Rooms/Details" asp-route-id="@item.RoomId">Details</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RomMaxCapacity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoomCurrentCapacity)
                    </td>
                    <td>
                        @{
                            var str = "Change Status";
                            if (item.Status == 0) str = "Pending";
                            if (item.Status == 1) str = "Active";
                            if (item.Status == 2) str = "InActive";
                            if (item.Status == 3) str = "Denied";
                            if (item.Status == 4) str = "Occupied";
                        }
                        <span>
                            <a asp-page="../Rooms/ChangeStatus" asp-route-id="@item.RoomId">@str</a>
                        </span>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Deposit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @if (Model.UserRole == "Owner")
                        {
                        <a asp-page="../Rooms/Edit" asp-route-id="@item.RoomId">Edit |</a>
                        }
                        <a asp-page="../Rooms/Details" asp-route-id="@item.RoomId">Details</a>

                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@if (Model.UserRole == "Owner")
{
    <a asp-page="../Rooms/Insert" asp-route-id="@Model.Hostel.HostelId">Add new room</a>
}
