@page
@model HostelManagement.Pages.Hostels.HostelPicsModel
@{
}
<section class="listings-hostel edit-listings">
    <div class="listings-hostel-wrapper">

        <div class="hostel-listings-card">
            <div class="card-inner">
                @if (@Model.Hostel.HostelPics.Count > 0)
                {
                    <div class="card-img-thumb" style="background: url('../images/hostels/@Model.HostelPics.ElementAt(0).HostelPicUrl');"></div>
                }
                else
                {
                    <div class="card-img-thumb" style="background: url('../images/placeholder.png');"></div>
                }
                <div class="card-details">
                    <div class="card-info">
                        <div class="card-title">[@Model.Hostel.Category.CategoryName] @Model.Hostel.HostelName</div>
                        @{
                            switch (@Model.Hostel.Status)
                            {
                                case 1:
                                    <text>
                                        <span class="card-status status-active">
                                            Active
                                        </span>
                                    </text>
                                    break;
                                case 2:
                                    <text>
                                        <span class="card-status status-inactive">
                                            Inactive
                                        </span>
                                    </text>
                                    break;
                                case 3:
                                    <text>
                                        <span class="card-status status-denied">
                                            Denied
                                        </span>
                                    </text>
                                    break;
                                default:
                                    <text>
                                        <span class="card-status status-pending">
                                            Pending
                                        </span>
                                    </text>
                                    break;
                            }
                        }
                        <span class="card-location">@Model.Hostel.Location.Ward.District.Province.ProvinceName, @Model.Hostel.Location.Ward.District.DistrictName</span>
                    </div>
                </div>
                <div class="card-action">
                    <div class="btn-card-action btn-card-edit">
                        <a asp-page="./View" asp-route-id="@Model.Hostel.HostelId">
                            Preview
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<table class="table table-bordered" style="text-align: center; border: 1px solid black; border-collapse: collapse; width: 75%; margin-left: 200px; margin-top: 50px">
    <thead>
        <tr>
            <th>
                HOSTEL PICTURE
            </th>
            <th>
                ACTION
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.HostelPics)
        {
            <tr>
                <td>
                    <img src="~/images/hostels/@(item.HostelPicUrl)" width="300" />
                </td>
                <td style="text-align: center">
                    <a asp-page="HostelPics" asp-page-handler="delete" asp-route-id="@item.HostelPicsId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<form method="post" enctype="multipart/form-data">
    <div style=" border: 1px solid black; border-collapse: collapse; width: 40%; margin-left: 200px; margin-top: 50px">
        <span class="group-input-title" id="Images">Upload some images of your hostel</span>
        <div class="group-input-hostel" style="height: 50px">
            <div class="form-group">
                <label asp-for="@Model.FileUploads"></label>
                <input asp-for="@Model.FileUploads" />
                <span asp-validation-foraction="@Model.FileUploads"></span>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Upload More" class="btn btn-primary" />
        </div>
    </div>
</form>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.HostelID">Return hostels page</a>
</div>