@page
@model HostelManagement.Pages.Hostels.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "_OwnerLayout";
    var activeNav = "listings-nav";
}

<section class="action-section searchbox-owner">
    <div class="row">
        <div class="col-4">
            <form method="get" asp-page-handler="">
                <div class="form-group">
                    <input placeholder="Search property name" name="searchHostel" type="text" id="searchBox" class="form-control" value="">
                    <i class='bx bx-search'></i>
                </div>
            </form>
        </div>
        <div class="col-3"></div>
        <div class="col-5">
            <div class="action-button">
                <button class="atn-btn btn-addnew">
                    <a asp-page="Create">Add a listing</a>
                </button>
            </div>
        </div>
    </div>
</section>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hostels.First().HostelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hostels.First().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hostels.First().Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hostels.First().Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hostels.First().HostelOwnerEmailNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hostels.First().Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Hostels) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HostelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HostelOwnerEmailNavigation.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.AddressString)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.HostelId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.HostelId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.HostelId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
<script type="text/javascript">
    $('#@activeNav').addClass('active');
</script>
}