@page
@model HostelManagement.Pages.Hostels.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "_OwnerLayout";
    var activeNav = "listings-nav";
}

<section class="action-section searchbox-owner">
    <div class="row">
        <div class="col-4">
            <form method="get" asp-page-handler="">
                <div class="form-group">
                    <input placeholder="Search property name" name="searchHostel" type="text" id="searchBox" class="form-control" value="@ViewData["searchHostel"]">
                    <i class='bx bx-search'></i>
                </div>
            </form>
        </div>
        <div class="col-3"></div>
        <div class="col-5">
            <div class="action-button">
                <button class="atn-btn btn-addnew">
                    <a asp-page="Create">Add a listing</a>
                </button>
            </div>
        </div>
    </div>
</section>

<section class="listings-hostel">
    <div class="listings-hostel-wrapper">
        @foreach (var item in Model.Hostels) {
        <div class="hostel-listings-card mb-3">
            <div class="card-inner">
                @if (@item.HostelPics.Count>0){
                <div class="card-img-thumb" style="background: url('../images/hostels/@item.HostelPics.ElementAt(0).HostelPicUrl');"></div>
                }
                else{
                    <div class="card-img-thumb" style="background: url('../images/placeholder.png');"></div>
                }
                <div class="card-details">
                    <div class="card-info">
                        <div class="card-title">[@item.Category.CategoryName] @item.HostelName</div>
                        @{
                            switch(item.Status){
                                case 1:
                                    <text>
                                        <span class="card-status status-active">
                                            Active
                                        </span>
                                    </text>
                                    break;
                                case 2:
                                    <text>
                                        <span class="card-status status-inactive">
                                            Inactive
                                        </span>
                                    </text>
                                    break;
                                case 3:
                                    <text>
                                        <span class="card-status status-denied">
                                            Denied
                                        </span>
                                    </text>
                                    break;
                                default:
                                    <text>
                                        <span class="card-status status-pending">
                                            Pending
                                        </span>
                                    </text>
                                    break;
                            }
                        }
                        <span class="card-location">@item.Location.Ward.District.Province.ProvinceName, @item.Location.Ward.District.DistrictName</span>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</section>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hostels.First().HostelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hostels.First().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hostels.First().Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hostels.First().Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hostels.First().Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Hostels) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HostelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                
                @{
                    var str = "Change Status";
                    if (item.Status == 0) str = "Pending";
                    if (item.Status == 1) str = "Active";
                    if (item.Status == 2) str = "InActive";
                    if (item.Status == 3) str = "Denied";
                    if (item.Status == 4) str = "Occupied";
                }
                <span>
                    <a asp-page="./ChangeStatus" asp-route-id="@item.HostelId">@str</a>
                </span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.AddressString) - @Html.DisplayFor(modelItem => item.Location.Ward.WardName) -
                @Html.DisplayFor(modelItem => item.Location.Ward.District.DistrictName) - @Html.DisplayFor(modelItem => item.Location.Ward.District.Province.ProvinceName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.HostelId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.HostelId">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
<script type="text/javascript">
    $('#@activeNav').addClass('active');
</script>
}