@page
@model HostelManagement.Pages.Hostels.RequestsModel
@{
}
<section class="action-section searchbox-owner">
    <div class="row">
        <div class="col-4">
            <form method="get" asp-page-handler="">
                <div class="form-group">
                    <input placeholder="Search property name" name="searchHostel" type="text" id="searchBox" class="form-control" value="@ViewData["searchHostel"]">
                    <i class='bx bx-search'></i>
                </div>
            </form>
        </div>
        <div class="col-3"></div>
        <div class="col-5">
        </div>
    </div>
</section>

<section class="listings-hostel">

    <div class="listings-hostel-wrapper" id="/pending">
        @foreach (var item in Model.Hostels) {
            @if (item.Status == 0){
                <div class="hostel-listings-card mb-3">
                    <a asp-page="./ChangeStatus" asp-route-id="@item.HostelId">
                        <div class="card-inner">
                            @if (@item.HostelPics.Count > 0)
                            {
                                <div class="card-img-thumb" style="background: url('../images/hostels/@item.HostelPics.ElementAt(0).HostelPicUrl');"></div>
                            }
                            else
                            {
                                <div class="card-img-thumb" style="background: url('../images/placeholder.png');"></div>
                            }
                            <div class="card-details">
                                <div class="card-info">
                                    <div class="card-title">[@item.Category.CategoryName] @item.HostelName</div>
                                    @{
                                        switch (item.Status)
                                        {
                                            case 1:
                                                <text>
                                                    <span class="card-status status-active">
                                                        Active
                                                    </span>
                                                </text>
                                                break;
                                            case 2:
                                                <text>
                                                    <span class="card-status status-inactive">
                                                        Inactive
                                                    </span>
                                                </text>
                                                break;
                                            case 3:
                                                <text>
                                                    <span class="card-status status-denied">
                                                        Denied
                                                    </span>
                                                </text>
                                                break;
                                            default:
                                                <text>
                                                    <span class="card-status status-pending">
                                                        Pending
                                                    </span>
                                                </text>
                                                break;
                                        }
                                    }
                                    <span class="card-location">@item.Location.Ward.District.Province.ProvinceName, @item.Location.Ward.District.DistrictName</span>
                                </div>
                            </div>
                            <div class="card-action">
                                <div class="btn-card-action btn-card-activate" id="@item.HostelId">
                                    <a>
                                        <i class='bx bx-check'></i>
                                    </a>
                                </div>
                                <div class="btn-card-action btn-card-denied btn-card-deactivate" id="@item.HostelId">
                                    <a>
                                        <i class='bx bx-x'></i>
                                    </a>
                                </div>
                                @{
                                    var name = item.HostelName;
                                }
                                <script type="text/javascript">
                            $('.btn-card-deactivate#@item.HostelId').click(function(){
                                $('.deactivate-form').append("<input type='hidden' name='id' value='@item.HostelId'/>");
                                $('.popup-deactivate p').html('Do you really want to deactivate <strong>@name</strong>?');
                                $('.popup-deactivate').show();
                            })
                                </script>
                            </div>
                        </div>
                    </a>
                </div>
            }
        }
    </div>
</section>
